.skills__progress{
    display: flex;
   row-gap: 3px;

}
 .skill{
    width: 300px;
    margin: 10px auto;
    color: #fff;
    padding: 10px;
    box-shadow: 0 14px 28px rgba(0, 0,0,0.25), 0 10px 10px rgba(0, 0,0,0.22);
}
h1{
    text-align: center;
}

p{
    text-align: center;
    margin: 5px;
    font-size: 14px;
    color: rgb(99,112,132);
}
.skill li{
    margin: 10px 2px;
    padding: 10px;
    list-style:none;
    font-size: 12px;
    
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0,0,0.25), 0 1px 2px rgba(0, 0,0,0.24);
    transition: all 0.3 cubic-bezier(.25, .8, .25, 1);

}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0,0,0.25), 0 10px 10px rgba(0, 0,0,0.22);

}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(125,41,232)0%, rgba(0, 194, 203)100%);
}


.html{
    width: 85%;
    animation:html 3s;
}
.css{
    width: 62%;
    animation:css 3s;
}
.javascript{
    width: 65%;
    animation:javascript 3s;
}
.react{
    width: 70%;
    animation:react 3s;
}
.git{
    width: 80%;
    animation:git 3s;
}
.python{
    width: 73%;
    animation:pyhton 3s;
}
.django{
    width: 50%;
    animation:django 3s;
}
.mysql{
    width: 80%;
    animation:mysql 3s;
}
.java{
    width: 55%;
    animation:java 3s;
}
.aws{
    width: 70%;
    animation:react 3s;
}


@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 62%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width:65%;
    }
}
@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 69%;
    }
} 




@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes django{
    0%{
        width: 0%;
    }
    100%{
        width: 62%;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width:65%;
    }
}
@keyframes aws{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .services__container {
        grid-template-columns: repeat(3, 218px);
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .services__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .services__content {
        padding: 3.5rem 0.5rem 1.25rem 1.5rem;
    }

    .services__icon {
        font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width: 576px) {
    .services__modal-content {
        padding: 4.5rem 1.5rem 2.5rem;
    }

    .services__modal-description {
        padding: 0;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .services__container {
        grid-template-columns: max-content;
    }

    .services__content {
        padding-right: 6rem;
    }
  }
